
        .d-grid{ display:grid; }
        .column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
        .column-template-3 { grid-template-columns: repeat(3, 1fr);}
        .column-template-2 { grid-template-columns: 1fr 1fr;}
        .column-template-1 { grid-template-columns: 1fr;}
        .single-featured .single-header { display: none; }
        .grid-gap-36 { column-gap: 36px; row-gap: 36px; }

        .inner-popup { position: relative; }
        .overlay-popup a { text-decoration:none !important;}
        .close-button { position: absolute; right: 20px; top: 20px; cursor: pointer; width: 27px; }
        .close-button img { width: 100%; }
        

        /* Post style start */
        .post-header { text-align: center; }
        .grid-style img { width: 100%; transition: 0.6s scale; }
        .post-header span { text-transform: uppercase; color: #3B246C; opacity: 60%; font-weight: 500; transition: 0.5s all; }
        .post-inner:hover .post-header span { opacity: 100%; }
        .post-header .week-detail span { font-size: 30px; }
        .post-header .day-detail span { font-size: 20px; }
        .curve-style { margin-top: -7px; margin-bottom: 5px; }
        .curve-style img{ max-width: 130px; margin: 0 auto; }
        .post-body { background-color: #ffffff; padding: 16px; border-radius: 20px; transition: 0.5s all; }
        .post-inner:hover .post-body { box-shadow: 0px 0px 36px -24px #000000; }
        .post-inner:hover .featured-image img { scale:1.15;}
        .featured-image { border: 3px solid #8571B0; overflow: hidden; }
        .post-title-heading h2 { margin: 0; color: #3B246C; font-size: 26px; font-weight: 400; }
        .post-content { margin-top: 17px; padding: 0px 10px; }
        .post-info-detail span { display: block; font-size: 18px; font-weight: 500; line-height: 150%; color: #4F387E; }
        .post-title-heading { margin-bottom: 17px; }
        .post-detail-button { margin-top: 40px; }
        .post-detail-button a { background-color: rgb(133 113 176 / 42%); padding: 9px 14px; border-radius: 9px; text-decoration: none !important; color: #ffffff !important; line-height: 92%; display: block; width: max-content; margin: 0 auto; text-transform: uppercase; font-size: 16px; letter-spacing: 1px; transition: 0.5s all; }
        .post-inner:hover .post-detail-button a { background-color: rgb(133 113 176 / 100%); color: #ffffff; }
        /* Post style end */

        /* Popup style start */
        .overlay-popup { background-color: rgb(152 130 198 / 88%); padding : 80px; position: fixed; top: 0; width: 100%; max-width: 100% !important; left: 0; height: 100%; overflow: scroll; z-index: 999; margin: 0 !important; }
        .overlay-popup::-webkit-scrollbar { width: 0px; }
        .single-group-section { background-color: #ffffff; padding: 78px 60px; padding-bottom: 64px; border-top-right-radius: 20px; border-top-left-radius: 20px; display: flex; align-items: flex-start; justify-content: flex-start; gap: 50px; }
        .single-featured { width: calc(40% - 25px); }
        .single-detail-panel { width: calc(60% - 25px);}
        .single-post-title h2 { color:#3B246C;font-weight: 400; font-style: normal; font-size: 48px; line-height: 100%; margin: 0; }
        .single-post-info-detail span { color: #3B246C; font-weight: 400; font-style: normal; font-size: 20px; line-height: 180%; display: block; }
        .single-post-title { margin-bottom: 23px; }
        .single-content p { font-weight: 400; font-style: normal; font-size: 20px; line-height: 150%; letter-spacing: 0; color: #484848; margin: 0px; }
        .single-body { padding: 30px 0px; margin: 30px 0px; border-bottom: 2px solid #EDE9F6; border-top: 2px solid #EDE9F6; }
        .multi-button-group { display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 20px; }
        .multi-button-group a { transition: 0.3s all;padding: 16px 18px; display: block; border-radius: 8px; background-color: #8571B0; line-height: 100%; text-decoration: none; color: #ffffff; text-transform: uppercase; letter-spacing: 0.5px; font-size: 20px; }
        .multi-button-group a:hover { background-color: #4F387E; color: #ffffff !important;}
        .single-button-group { margin-top: 35px; }
        .single-button-group .group-icon { text-decoration: none; color: #4F387E; text-transform: uppercase; letter-spacing: 0.5px; display: flex; width: max-content; align-items: center; justify-content: center; flex-wrap: nowrap; gap: 10px; background-color: rgb(213 194 255 / 22%); border-radius: 10px; padding: 8px 30px; }
        .single-button-group .group-icon img { width: 60px; }
        .second-group-section { background-color: #F6F2FF; padding: 78px 60px; padding-bottom: 64px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; }
        .multi-download-button-group { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 30px; }
        .multi-download-button-group a { display: flex; align-items: center; justify-content: start; flex-wrap: wrap; gap: 10px; width: calc(25% - 25px); background-color: #ffffff; padding: 10px 10px; border-radius: 10px; text-decoration: none; text-transform: uppercase; letter-spacing: 0.5px; color: #4F387E !important; font-size: 16px; }
        .multi-download-button-group a img { width: 50px; height: 50px; object-fit: contain; }
        .additional-download,
        .latest-post-loop,
        .addtional-content-panel { padding-bottom: 43px; border-bottom: 2px solid rgb(203 191 229 / 71%); margin-bottom: 43px; }
        .addtional-heading h4 { margin: 0; padding-bottom: 43px; font-size: 26px; font-weight: 400; color: #4F387E; text-transform: capitalize; }
        .second-group-section img { width: 100%; }
        .articles-post { background: #ffffff; border-radius: 20px; overflow: hidden; border: 1px solid #CBBFE5; }
        .short-info p { margin: 0; font-size: 20px; color: #484848; line-height: 150%; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }
        .latest-post-date { padding-top: 20px; border-top: 2px solid rgb(203 191 229 / 36%); margin-top: 20px; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 20px; }
        
        .latest-post-date span { font-weight: 500; font-size: 18px; line-height: 92%; text-transform: uppercase; color: #8F86A2; }
        .latest-post-date span.blog-publish-date { color: #645489; }
        .latest-featured-content { padding: 30px 20px; }
        .addtional-content-panel p { margin: 0; font-size: 20px; line-height: 150%; font-weight: 400; max-width: 950px; width: 100%; }
        .second-group-section .addtional-content-panel:last-child { padding-bottom: 0; margin-bottom: 0; border: none; }
        .overlay-popup .single-post-info-detail span:last-child { color: #A089CE !important; }
        .post-featured-img img { height: 240px; object-fit: cover; }


        /* product slider */
        .slider { margin-bottom: 20px; }
        .slick-slide { outline: none; }
        .slider img { width: 100%; height: 500px; object-fit: cover; }
        .slider-nav .slick-slide img { cursor: pointer; width: 100%; height: 80px; object-fit: cover; }
        .slider-nav { overflow: hidden; }
        .slider-nav .slick-list { margin-right: -10px; margin-left: -10px; }
        .slider-nav .slick-slide { padding-right: 10px; padding-left: 10px; }
		.category-filter { position: relative; margin-left: auto; }
        .filter-result { width: max-content; margin-left: auto; cursor: pointer; }
        .filter-dropdown { text-align: right; padding-bottom: 17px; border-bottom: 1px solid #A089CE; margin-bottom: 47px; }
        select#filter { font-family: Literata; font-weight: 400; font-style: normal; font-size: 26px; line-height: 100%; letter-spacing: 0; padding: 0; background-color: transparent; box-shadow: none; border: 0; outline: none; color: #4F387E; }
        .filter-result span { font-size:20px; text-transform: capitalize; }
        .filter-result img { width: 18px; margin-left: 10px; }
        .category-fields { position: absolute; right: 0; top: 0; transform: translate(0px, 45px); }
        .category-fields ul::-webkit-scrollbar { width: 0; }
		.category-fields ul li { list-style-type: none; font-size: 20px; text-transform: capitalize; margin: 10px 0px; cursor: pointer; text-align: left; }
		.category-fields ul { margin: 0; background-color: #ffffff; border-radius: 20px; padding: 15px 20px; min-height: max-content; max-height: 450px; overflow-y: scroll; }
        .category-fields ul.subcategory-fields { padding: 0px 20px; }
        .category-fields ul.subcategory-fields li { position:relative; margin-bottom:0; }
        .category-fields ul.subcategory-fields li::before { content: '-'; position: absolute; left: -18px; top: 0px; height: 100%; }

        @media (max-width:1200px) and (min-width:1025px) {
            .lg-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .lg-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .lg-column-template-2 { grid-template-columns: 1fr 1fr;}
            .lg-column-template-1 { grid-template-columns: 1fr;}
            .lg-grid-gap-54 { column-gap: 54px; row-gap: 54px; }
        }
        @media (max-width:1024px) and (min-width:600px) {
            .md-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .md-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .md-column-template-2 { grid-template-columns: 1fr 1fr;}
            .md-column-template-1 { grid-template-columns: 1fr;}
            .md-grid-gap-54 { column-gap: 54px; row-gap: 54px; }
            .single-detail-panel .single-header { display: none; }
            .single-featured .single-header { display: block; width: calc(60% - 13px); }
            .single-featured { display: flex; align-items: flex-start; justify-content: space-between; gap: 25px; }
            .slider img  { height: 250px; }
            .slider-nav .slick-slide img { height: 37px; width: 37px; }
            .single-post-title h2 { font-size: 32px; }
            .single-featured  .wrapper { width: calc(40% - 13px); }
            .single-group-section {gap: 0px;}
            .overlay-popup { padding: 36px; }
            .single-group-section { flex-direction: column; }
            .single-detail-panel,
            .single-featured { width: 100%; }
            .second-group-section,
            .single-group-section  { padding: 45px 45px; }
            .second-group-section { background-color: #FDFCFF; border-top: 2px solid #EDE9F6; }
            .multi-download-button-group a { width: calc(50% - 50px); background-color: #F6F2FF; }
            /* .articles-post { display: flex; flex-wrap: nowrap; } */
            /* .post-featured-img { width: 40%; } */
            .post-featured-img img { height: 100%; object-fit: cover; }
            /* .latest-featured-content { width: 60%; } */
            .post-featured-img img { height: 240px; }
        }

        @media (max-width:700px) {
            select#filter { width:100%; }
        }
        @media (max-width:600px) {
            .sm-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .sm-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .sm-column-template-2 { grid-template-columns: 1fr 1fr;}
            .sm-column-template-1 { grid-template-columns: 1fr;}
            .sm-grid-gap-60 { column-gap: 60px; row-gap: 60px; }
            .overlay-popup { padding: 12px; }
            .single-detail-panel .single-header { display: none; }
            .single-featured .single-header { display: block; width: 100%; }
            .single-featured { display: flex; flex-direction: column-reverse; align-items: flex-start; justify-content: space-between; gap: 25px; }
            .slider img  { height: 430px; }
            .slider-nav .slick-slide img { height: 37px; width: 37px; }
            .single-post-title h2 { font-size: 32px; }
            .single-featured  .wrapper { width: 100%; }
            .single-group-section {gap: 0px;}
            .single-group-section { flex-direction: column; }
            .single-detail-panel,
            .single-featured { width: 100%; }
            .second-group-section, .single-group-section { padding: 36px 17px; }
            .second-group-section { background-color: #FDFCFF; border-top: 2px solid #EDE9F6; }
            .multi-download-button-group a { width: 100%; background-color: #F6F2FF; }
            /* .articles-post { display: flex; flex-wrap: nowrap; } */
            /* .post-featured-img { width: 40%; } */
            .post-featured-img img { height: 100%; object-fit: cover; }
            .latest-featured-content { padding: 13px 6px 13px 13px; }
            .short-info p { font-size: 15px; }
            .latest-post-date span { font-size: 13px; }
            .latest-post-date { padding-top: 12px; margin-top: 12px; }
            .single-button-group .group-icon { max-width: 100%; width: auto; word-break: break-word; }
            .addtional-heading h4 { padding-bottom: 22px; }
            .additional-download, .latest-post-loop, .addtional-content-panel { padding-bottom: 36px; margin-bottom: 36px; }
            .close-button { width: 14px; }
            .post-featured-img img { height: 240px; }
        }
        
        @media(max-width:400px){
        .filter-result span { display: flex; align-items: center; justify-content:center; font-size:18px; }
        .filter-result { width: 100%; }
        .category-fields ul { width:100%; }
        .category-fields ul li { font-size: 16px; }
        }