
        .d-grid{ display:grid; }
        .column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
        .column-template-3 { grid-template-columns: repeat(3, 1fr);}
        .column-template-2 { grid-template-columns: 1fr 1fr;}
        .column-template-1 { grid-template-columns: 1fr;}
        .single-featured .single-header { display: none; }
        .grid-gap-36 { column-gap: 36px; row-gap: 90px; }

        .inner-popup { position: relative; }
        .overlay-popup a { text-decoration:none !important;}
        .close-button { position: absolute; right: 20px; top: 20px; cursor: pointer; width: 27px; }
        .close-button img { width: 100%; }
       
        

        /* Post style start */
        .post-header { text-align: center; }
        .grid-style img { width: 100%; transition: 0.6s scale; }
        .post-header span { text-transform: uppercase; color: #3B246C; opacity: 60%; font-weight: 500; transition: 0.5s all; }
        .post-inner:hover .post-header span { opacity: 100%; }
        .post-header .week-detail span { font-size: 30px; }
        .post-header .day-detail span { font-size: 20px; }
        .curve-style { margin-top: -7px; margin-bottom: 5px; }
        .curve-style img{ max-width: 130px; margin: 0 auto; }
		.grid-style.main-grid>div { background: linear-gradient(0deg, #ffffff 75%, transparent 0%); border-radius: 20px; transition: 0.5s all; }
		/*.grid-style.main-grid>div:hover { box-shadow: 0px 0px 36px -24px #000000; }*/
        .post-body { background-color: #ffffff; padding: 16px; border-radius: 20px; transition: 0.5s all; }
        .post-inner:hover .post-body { box-shadow: 0px 0px 36px -24px #000000; }
        .post-inner:hover .featured-image img { scale:1.15; }
        .featured-image { border: 0px solid #8571B0; overflow: hidden; }
        .post-title-heading h2 { margin: 0; color: #3B246C; font-size: 26px; font-weight: 400; }
        .post-content { margin-top: 17px; padding: 0px 10px; position:relative; }
        .post-info-detail span { display: block; font-size: 18px; font-weight: 500; line-height: 150%; color: #4F387E; }
        .post-info-detail span:last-child{ color:#A089CE; }
        .post-title-heading { margin-bottom: 17px; }
        .post-detail-button { margin-top: 40px; }
        .post-detail-button span { background-color: rgb(133 113 176 / 42%); padding: 13px 14px; padding-bottom: 8px; border-radius: 9px; text-decoration: none !important; color: #ffffff !important; line-height: 92%; display: block; width: max-content; margin: 0 auto; text-transform: uppercase; font-size: 16px; letter-spacing: 1px; transition: 0.5s all; }
     	.post-inner:hover .post-detail-button span { background-color: rgb(133 113 176 / 100%); }
     	.check_mark { position: relative; }
		.check_mark::before { content: ''; position: absolute; right: 0; top: -5px; width: 50px; height: 50px; background-image: url("../images/check-mark-icon.svg"); background-position: center; background-repeat: no-repeat; background-size: contain; }
		/* Post style end */

        /* Popup style start */
        #overlay { margin: 0 !important; }
        .overlay-popup { background-color: rgb(152 130 198 / 88%); padding : 80px; position: fixed; top: 0; width: 100%; max-width: 100% !important; left: 0; height: 100%; overflow: scroll; z-index: 999; margin:0 !important; }
        .overlay-popup::-webkit-scrollbar { width: 0px; }
        .single-group-section { background-color: #ffffff; padding: 78px 60px; padding-bottom: 64px; border-top-right-radius: 20px; border-top-left-radius: 20px; display: flex; align-items: flex-start; justify-content: flex-start; gap: 50px; }
        .single-featured { width: calc(40% - 25px); }
        .single-detail-panel { width: calc(60% - 25px);}
        .single-post-title h2 { color:#3B246C;font-weight: 400; font-style: normal; font-size: 48px; line-height: 100%; margin: 0; }
        .single-post-info-detail span { color: #3B246C; font-weight: 400; font-style: normal; font-size: 20px; line-height: 180%; display: block; }
        .overlay-popup .single-post-info-detail span:last-child{ color:#A089CE !important; }
        .single-post-title { margin-bottom: 23px; }
        .single-content p { font-weight: 400; font-style: normal; font-size: 20px; line-height: 150%; letter-spacing: 0; color: #484848; margin: 0px; }
        .single-body { padding: 30px 0px; margin: 30px 0px; border-bottom: 2px solid #EDE9F6; border-top: 2px solid #EDE9F6; }
        .multi-button-group { display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 20px; }
        .multi-button-group a { transition: 0.3s all;padding: 16px 18px; padding-bottom: 13px; display: block; border-radius: 8px; background-color: #8571B0; line-height: 100%; text-decoration: none; color: #ffffff !important; text-transform: uppercase; letter-spacing: 0.5px; font-size: 20px; }
        .multi-button-group a:hover { background-color: #4F387E;}
        .single-button-group { margin-top: 35px; }
        .single-button-group .group-icon { text-decoration: none; color: #4F387E; text-transform: uppercase; letter-spacing: 0.5px; display: flex; width: max-content; align-items: center; justify-content: center; flex-wrap: nowrap; gap: 10px; background-color: rgb(213 194 255 / 22%); border-radius: 10px; padding: 8px 30px; }
        .single-button-group .group-icon img { width: 60px; }
        .second-group-section { background-color: #F6F2FF; padding: 78px 60px; padding-bottom: 64px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; }
        .multi-download-button-group { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 30px; }
        .multi-download-button-group a { display: flex; align-items: center; justify-content: start; flex-wrap: wrap; gap: 10px; width: calc(25% - 25px); background-color: #ffffff; padding: 10px 10px; border-radius: 10px; text-decoration: none; text-transform: uppercase; letter-spacing: 0.5px; color: #4F387E !important; font-size: 16px; }
        .multi-download-button-group a img { width: 50px; height: 50px; object-fit: contain; }
        .additional-download,
        .latest-post-loop,
        .addtional-content-panel { padding-bottom: 43px; border-bottom: 2px solid rgb(203 191 229 / 71%); margin-bottom: 43px; }
        .addtional-heading h4 { margin: 0; padding-bottom: 43px; font-size: 26px; font-weight: 400; color: #4F387E; text-transform: capitalize; }
        .second-group-section img { width: 100%; }
        .articles-post { background: #ffffff; border-radius: 20px; overflow: hidden; border: 1px solid #CBBFE5; }
        .short-info p { margin: 0; font-size: 20px; color: #484848; line-height: 150%; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }
        .latest-post-date { padding-top: 20px; border-top: 2px solid rgb(203 191 229 / 36%); margin-top: 20px; }
        .latest-post-date span { font-weight: 500; font-size: 18px; line-height: 92%; text-transform: uppercase; color: #8F86A2; }
        .latest-featured-content { padding: 30px 20px; }
        .addtional-content-panel p { margin: 0; font-size: 20px; line-height: 150%; font-weight: 400; max-width: 950px; width: 100%; }
        .second-group-section .addtional-content-panel:last-child { padding-bottom: 0; margin-bottom: 0; border: none; }


        /* product slider */
        .slider { margin-bottom: 20px; }
        .slick-slide { outline: none; }
        .slider img { width: 100%; height: 500px; object-fit: contain; background-color:#eeeeeec7; }
        .slider-nav .slick-slide img { cursor: pointer; width: 100%; height: 80px; object-fit: cover; }
        .slider-nav { overflow: hidden; }
        .slider-nav .slick-list { margin-right: -10px; margin-left: -10px; }
        .slider-nav .slick-slide { padding-right: 10px; padding-left: 10px; }

		.featured-image img { height: 300px; object-fit: contain; background-color: #eeeeeec7; }


@media (min-width:1024px) {
.main-grid>div:last-child { grid-column: 1 / span 4; }
        .main-grid>div:last-child .post-body { display: flex; align-content: flex-start; align-items: center; justify-content: flex-start; gap: 35px;}
        .main-grid>div:last-child .featured-image { width: 300px; }
        .main-grid>div:last-child .post-content { width: calc(100% - 335px); padding: 0; margin: 0; }
  		.main-grid>div:last-child .featured-image img { height:auto; }
        .main-grid>div:last-child .post-detail-button span { margin-left: 0; }
        .main-grid>div:last-child .post-title-heading h2 { font-size: 38px; }
        .main-grid>div:last-child .post-excerpt p { font-size: 20px; color: #3B246C; margin: 25px 0px; margin-bottom: -5px; overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height:150%; }
  		.post-content { padding-bottom: 70px; }
  		.main-grid .group-1 .post-content,
  		.main-grid .group-2 .post-content,
  		.main-grid .group-3 .post-content { min-height: 235px; }
  		.main-grid .group-4 .post-content { min-height: 263px; }
  		.main-grid .group-5 .post-content { min-height: 230px; }
  		.main-grid>div:not(:last-child) .post-detail-button { position: absolute; left: 0; bottom: 0; width: 100%; }
}

        @media (max-width:1200px) and (min-width:1025px) {
            .lg-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .lg-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .lg-column-template-2 { grid-template-columns: 1fr 1fr;}
            .lg-column-template-1 { grid-template-columns: 1fr;}
            .lg-grid-gap-54 { column-gap: 54px; row-gap: 54px; }
            .main-grid>div:last-child { grid-column: 1 / span 3; }
        }
        @media (max-width:1024px) and (min-width:600px) {
            .md-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .md-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .md-column-template-2 { grid-template-columns: 1fr 1fr;}
            .md-column-template-1 { grid-template-columns: 1fr;}
            .md-grid-gap-54 { column-gap: 54px; row-gap: 54px; }
            .single-detail-panel .single-header { display: none; }
            .single-featured .single-header { display: block; width: calc(60% - 13px); }
            .single-featured { display: flex; align-items: flex-start; justify-content: space-between; gap: 25px; }
            .slider img  { height: 250px; }
            .slider-nav .slick-slide img { height: 37px; width: 37px; }
            .single-post-title h2 { font-size: 32px; }
            .single-featured  .wrapper { width: calc(40% - 13px); }
            .single-group-section {gap: 0px;}
            .overlay-popup { padding: 36px; }
            .single-group-section { flex-direction: column; }
            .single-detail-panel,
            .single-featured { width: 100%; }
            .second-group-section,
            .single-group-section  { padding: 45px 45px; }
            .second-group-section { background-color: #FDFCFF; border-top: 2px solid #EDE9F6; }
            .multi-download-button-group a { width: calc(50% - 50px); background-color: #F6F2FF; }
            .articles-post { display: flex; flex-wrap: nowrap; }
            .post-featured-img { width: 40%; }
            .post-featured-img img { height: 100%; object-fit: cover; }
            .latest-featured-content { width: 60%; }
            .main-grid>div:last-child { grid-column: 1 / span 2; }
        .main-grid>div:last-child .post-body { display: flex; align-content: flex-start; align-items: center; justify-content: flex-start; gap: 35px;}
        .main-grid>div:last-child .featured-image { width: 200px; }
        .main-grid>div:last-child .post-content { width: calc(100% - 235px); }
        .main-grid>div:last-child .post-detail-button span { margin-left: 0; }
        .main-grid>div:last-child .post-title-heading h2 { font-size: 38px; }
        .main-grid>div:last-child .post-excerpt p { font-size: 20px; color: #3B246C; margin: 25px 0px; margin-bottom: -5px; overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height:150%; }
        .main-grid>div:not(:last-child) .post-content { min-height: 274px; }
}
        @media (max-width:600px) {
            .sm-column-template-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
            .sm-column-template-3 { grid-template-columns: repeat(3, 1fr); }
            .sm-column-template-2 { grid-template-columns: 1fr 1fr;}
            .sm-column-template-1 { grid-template-columns: 1fr;}
            .sm-grid-gap-60 { column-gap: 60px; row-gap: 60px; }
            .overlay-popup { padding: 12px; }
            .single-detail-panel .single-header { display: none; }
            .single-featured .single-header { display: block; width: 100%; }
            .single-featured { display: flex; flex-direction: column-reverse; align-items: flex-start; justify-content: space-between; gap: 25px; }
            .slider img  { height: 430px; }
            .slider-nav .slick-slide img { height: 37px; width: 37px; }
            .single-post-title h2 { font-size: 32px; }
            .single-featured  .wrapper { width: 100%; }
            .single-group-section {gap: 0px;}
            .single-group-section { flex-direction: column; }
            .single-detail-panel,
            .single-featured { width: 100%; }
            .second-group-section, .single-group-section { padding: 36px 17px; }
            .second-group-section { background-color: #FDFCFF; border-top: 2px solid #EDE9F6; }
            .multi-download-button-group a { width: 100%; background-color: #F6F2FF; }
            .articles-post { display: flex; flex-wrap: nowrap; }
            .post-featured-img { width: 40%; }
            .post-featured-img img { height: 100%; object-fit: cover; }
            .latest-featured-content { width: 60%; padding: 13px 6px 13px 13px; }
            .short-info p { font-size: 15px; }
            .latest-post-date span { font-size: 13px; }
            .latest-post-date { padding-top: 12px; margin-top: 12px; }
            .single-button-group .group-icon { max-width: 100%; width: auto; word-break: break-word; }
            .addtional-heading h4 { padding-bottom: 22px; }
            .additional-download, .latest-post-loop, .addtional-content-panel { padding-bottom: 36px; margin-bottom: 36px; }
            .close-button { width: 14px; }
            .main-grid>div:last-child .post-excerpt p { font-size: 20px; color: #3B246C; margin: 25px 0px; margin-bottom: -5px; overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; line-height:150%; }
        }
        @media(max-width:1340px){
        .check_mark::before { position: absolute; right: 0; top: -15px;  width: 40px; height: 40px; }
        }
@media(max-width:1365px) and (min-width:1024px){
  .post-info-detail span { font-size: 1.1vw; }
  .post-title-heading h2 { font-size: 2vw; }
}